.list{
    color: #fff;
    width: 300px;
    margin: 20px auto;
    height: 50px;
    background-color: #bf07ac;
    border-radius: 5px;
}
.list p{
    padding: 10px;
    position: relative;
    /* transition: ease-in-out; */
}
.list p span{
    position: absolute;
    right:10px;
}
.list p button{
margin: 0 0 0 1px;
}


.list p input{

    background-color: transparent;
    border: 0;
    color:black;
    font-size: 18px;
    
    
}